<app-user-profile></app-user-profile>

<ul>
    <li>Pommes de terre</li>
    <li [ngStyle]="{backgroundColor: isThisIngredientVital ? 'red' : 'yellow'}">Raclette</li>
    <li>Jambon</li>
    <li [ngClass]="{'vital': isThisIngredientVital}">Cornichons</li>
    <li>Chou-fleur</li>
</ul>

<ul>
    <li>
        <a [routerLink]="['/']">HOME</a>
    </li>
    <li>
        <a [routerLink]="['/sign-up']">SignUp</a>
    </li>
    <li>
        <a [routerLink]="['/user-profile']">UserProfile</a>
    </li>
</ul>
<router-outlet></router-outlet>

<hr>
<ul *appDisplayGuests="displayGuestList">
    <li>Brenda</li>
    <li>Dylan</li>
    <li>Jean-Mi</li>
    <li>Kylie</li>
</ul>
<hr>
<ul *ngFor="let song of songList">
    <li>{{ song }}</li>
</ul>
<hr>
<h1 HighLight>Raclette</h1>
<hr>
<ul *ngIf="showMovies">
    <li HighLight>Star Wars</li>
    <li>Seingeur des anneaux</li>
    <li>Aladin</li>
    <li>Le roi lion</li>
</ul>


